---
import Layout from "../../layouts/Layout.astro";
import './style.css'
import '../home.css'
const posts = await Astro.glob('./*.md');
---


<Layout title="Blog">
    <div id="blog-container">
        <div id="wrapper">
            {posts.map(MDfile => {
                return(
                <div class="blog-card">
                <div class="card-header">
                    <div class="blog-avatar">{MDfile.frontmatter.avatar&& <img src={MDfile.frontmatter.avatar} alt="MDfile.frontmatter.avatar"/>}</div>
                    <div class="hr"></div>
                    <div class="blog-title">{MDfile.frontmatter.title}</div>
                </div>
                <div class="blog-description">{MDfile.frontmatter.summary}</div>
                <div class="blog-info">
                    <div class="created-at"><span class="strong">Date</span> : {MDfile?.frontmatter.date}</div>
                    <div class="author"><span class="strong">Author</span> : {MDfile?.frontmatter.author}</div>
                </div>
            </div>
                )
            })}
            <div class="blog-card">
                <div class="card-header">
                    <div class="blog-avatar"></div>
                    <div class="hr"></div>
                    <div class="blog-title">Blog title be like</div>
                </div>
                <div class="blog-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
                <div class="blog-info">
                    <div class="created-at"><span class="strong">Date</span> : 2022/08/28</div>
                    <div class="author"><span class="strong">Author</span> : Mohammed Sinan</div>
                </div>
            </div>
            <div class="blog-card">
                <div class="card-header">
                    <div class="blog-avatar"></div>
                    <div class="hr"></div>
                    <div class="blog-title">Blog title be like</div>
                </div>
                <div class="blog-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
                <div class="blog-info">
                    <div class="created-at"><span class="strong">Date</span> : 2022/08/28</div>
                    <div class="author"><span class="strong">Author</span> : Mohammed Sinan</div>
                </div>
            </div>
            <div class="blog-card">
                <div class="card-header">
                    <div class="blog-avatar"></div>
                    <div class="hr"></div>
                    <div class="blog-title">Blog title be like</div>
                </div>
                <div class="blog-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
                <div class="blog-info">
                    <div class="created-at"><span class="strong">Date</span> : 2022/08/28</div>
                    <div class="author"><span class="strong">Author</span> : Mohammed Sinan</div>
                </div>
            </div>
            <div class="blog-card">
                <div class="card-header">
                    <div class="blog-avatar"></div>
                    <div class="hr"></div>
                    <div class="blog-title">Blog title be like</div>
                </div>
                <div class="blog-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
                <div class="blog-info">
                    <div class="created-at"><span class="strong">Date</span> : 2022/08/28</div>
                    <div class="author"><span class="strong">Author</span> : Mohammed Sinan</div>
                </div>
            </div>
        </div>
    </div>
</Layout>