---
import './style.css';
const portfolioArray = [
  {
    default: true,
    title: 'React Dashboard',
    img_src:"dashboard",
    link:'https://dashboard-react-2.netlify.app/',   
    github:'https://github.com/mohammmedsinan/Sulation-For-Redux-Complexity-/tree/polished',
    description:
      ' Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur',
  },
  {
    title: 'Old Portfolio',
    img_src:"portfolio",
    link:'https://majestic-jalebi-06c8e2.netlify.app/',   
    github:'https://github.com/mohammmedsinan/Portfolio-Src',
    description:
      ' Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur',
  },
  {
    title: 'AntD Landing Page',
    img_src:"antd",
    link:"https://monumental-boba-49323c.netlify.app/",    
    github:"https://github.com/mohammmedsinan/SRC-Code-ANTD-",
    description:
      ' Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur',
  },
  {
    title: 'Rebuild Greener',
    img_src:"greener",
    link:"https://euphonious-zuccutto-7e305e.netlify.app/",    
    github:"https://github.com/mohammmedsinan/Re-Build-Website",
    description:
      ' Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur',
  },
  {
    title: 'Purple',
    img_src:"purple",
    link:"https://wonderful-creponne-1c1595.netlify.app/",    
    github:"https://github.com/mohammmedsinan/Re-Build-website-3-Src-",
    description:
      ' Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur',
  },
];
let counter = 0;
---

<div class="Slider-Container">
  <div class="Slider-Helper">
    {
      portfolioArray.map((element) => {
        counter = counter + 1;
        return (
          <div 
            class={`Slider-Card ${element.default ? 'default-slider' : ''} public-one backgroundImg`}
            id={`slider-element-${counter}`}
            style={`background-image: url('/assets/${element.img_src}.jpg');`}
          >
            <section
              style="display: flex; justify-content: center; align-items: center; flex-direction: column;"
              class="slider-sction"
            >
              <h1 class="Slider-Title opacity-0">{element.title}</h1>
              <p class="Slider-Description opacity-0">{element.description}</p>
              <div class="btn-collection opacity-0" >
                <a target="_blank" href={element.github}>Source Code</a>
                <a target="_blank" href={element.link}>Preview</a>
              </div>
            </section>
          </div>
        );
      })
    }
  </div>
</div>

<script>
  let fechaModals = document.querySelectorAll(".public-one");
  fechaModals.forEach(fechaModal => {
      let switcher = "false";
   fechaModal.addEventListener('click', function(event) {

    const btnContainer = document.querySelectorAll('.btn-collection')
    const title = document.querySelectorAll('.Slider-Title')
    const desctiption = document.querySelectorAll('.Slider-Description')
    
    if(switcher === "true") {
        btnContainer.forEach(element => {
            element.classList.add('opacity-0')
        })
        fechaModals.forEach(element => {
            element.classList.add('backgroundImg')
        })   
        title.forEach(element => {
            element.classList.add('opacity-0')
        })
        desctiption.forEach(element => {
            element.classList.add('opacity-0')
        })
        fechaModals.forEach(element => {
          element.classList.remove('backgroundImg-empty')
      })
        switcher = "false";
    }else {
      btnContainer.forEach(element => {
        element.classList.remove('opacity-0')
      }) 
      fechaModals.forEach(element => {
        element.classList.remove('backgroundImg')
      })    
      title.forEach(element => {
        element.classList.remove('opacity-0')
      })
      desctiption.forEach(element => {
        element.classList.remove('opacity-0')
      })
      fechaModals.forEach(element => {
          element.classList.add('backgroundImg-empty')
      })
      switcher = "true";
    }
});
});
</script>

<style>
.opacity-0{
opacity: 0;
transition: ease-out 1s all;
pointer-events: none;
}
.backgroundImg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.backgroundImg-empty{
transition: ease-in 0.3s all;
  background-image: url("./") !important;
}
.public-one {
}
</style>