---
import {Icon} from 'astro-icon'


//=================== Css =============================

import "./home.css";
//=================== Component & Layout =============================
import Layout from "../layouts/Layout.astro";
import {data} from '../data'
const { Icons,contact,header,plot,plotV2,resume,title} = data.home;
// const posts = await Astro.glob('./blog/*.md');
---

<Layout title={title}>
  <div id="container">
    <div class="sub-container">
      <h1 class="text-7xl text-center md:text-left" >{header}</h1>
        <hr class="block md:hidden m-auto w-64 mt-10"/>
      <p id="discrip">{plot}</p>
      <div class="hidden md:flex justify-end">
        <a class="btn-primary mr-5" href={resume} download="Mohammed_Sinan_CV">Resume</a>
        <a class="btn-secondary" href={contact}>Contact</a>
      </div>
    </div>
    <div class="flex md:hidden justify-center">{Icons?.map(icon => <a href={icon.link} target="_blank"><Icon name={icon.name} class="w-20 transition-all text-secondary hover:scale-125"/></a>)}</div>
    <div class="desktop vr" />
    <div id="discrip2"><p>{plotV2}</p>
      <div class="hidden md:flex md:justify-center">{Icons?.map(icon => <a href={icon.link} target="_blank"><Icon name={icon.name} class="w-20 transition-all text-secondary hover:scale-125" /></a>)}</div>
    </div>
    <div class="flex md:hidden justify-center mt-4">
      <a class="btn-primary mr-5" href={resume} download="Mohammed_Sinan_CV">Resume</a>
      <a class="btn-secondary" href={contact}>Contact</a>
    </div>
  </div>
</Layout>
