---
import {PrimaryColor,secondaryColor} from "../config/colors"
import './blog.css'
const {frontmatter:{
    title ,
    tag , 
    author,
    date,
    description,
    thumbnail
}} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
</head>
<body>
<div id="blog-container">
    <div id="blog-wrapper">
            <img src={thumbnail} alt="Hero" id="img" width="100%" height="100%">
            <div id="blog-header">
                <h1 id="blog-title">{title}</h1>
                <div id="tags-container">
                    {tag.map((element:String) => <span class="tags"> - #{element}</span>)}
                </div>
            </div>
            <div id="vr-blog"></div>
            <div id="content-wrapper">
                <div id="blog-sub-header">
                    <div id="blog-give-info">
                        <p><strong>Created-By</strong> : {author}</p>
                        <p><strong>Created-At</strong> : {date}</p>
                    </div>
                    <p id="blog-description"><strong>Description</strong> : {description}</p>
                </div>
                <div id="blog-content-container">
                    <slot />
                </div>
            </div>
    </div>
</div>
</body>
</html>
<style is:global define:vars={{ PrimaryColor, secondaryColor }}>
</style>